{% extends "bootstrap/base.html" %}

{% block content %}
<center><h2>Facebook Posts</h2></center>

{%for item in posts%}
  <div class="panel panel-primary">
  <div class="panel-heading">Post</div>
  <div class="panel-body">
    <img src="cinqueterre.jpg" class="img-rounded" alt="Cinque Terre"><br>
    
    Post ID: {{item.id}}
    <br><br>
    Message: {{item.message}}
    <br><br>
    Story: {{item.story}}

    <form action="{{ url_for('details') }}" method="post">
    	<center>
    		<input type="hidden" name="details" value="{{item.id}}">
    		<input value="See Details" type="submit" >
    	</center>
    </form>     

  </div>
  </div>
{%endfor%}
  
{% endblock %}